<table class="calendar-table">
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% date.beginning_of_month.wday.times do %>
        <td></td>
      <% end %>

      <% date.all_month.each do |day| %>
        <%= render partial: 'date', locals: { day: day } %>
        <% if day.next_day == day.end_of_week %>
          <tr></tr>
        <% end %>
      <% end %>

      <% (6-date.end_of_month.wday).times do %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>