.calendar-left {
  text-align: center;
  margin-left: 50px;
  float: left;
  margin-bottom: 30px;

  h1 {
    font-size: 24px;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
    padding: 0 5px;
  }
}

.calendar-right {
  float: right;
  margin-right: 50px;
  margin-bottom: 30px;
  max-width: 300px;
  text-align: center;

  h2 {
    font-size: 22px;
  }
}

.calendar-table {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid;
  border-collapse: collapse;

  td, th {
    border: 1px solid;
    width: 50px;
    height: 50px;
  }

  td:first-child {
    background-color: #eeeeee;
  }

  th {
    text-align: center;
  }

  p {
    font-size: 30px;
    color: #121e68;
    text-align: center;
    margin: 0;
    padding: 3px;
  }

  p.today a {
    color: #cc0000;
    font-weight: bold;
  }
}

@media screen and (min-width:100px) and (max-width: 768px) {
  .calendar-table {
    td, th {
      width: 40px;
      height: 40px;
    }

    p {
      font-size: 24px;
      padding: 2px;
    }
  }
}

@media screen and (min-width:100px) and (max-width: 600px) {
  .calendar-right, .calendar-left {
    float: none;
    margin: 0 auto;
  }
}
